body {
  background: linear-gradient(#ff844c, #ff2121);
  text-align: center;
  height: 1000px;
  color: white;
  font-family: 'Fascinate Inline', sans-serif;
  letter-spacing: 1.7px;

}

.sub-head {
  text-align: center;
  font-weight: bold;
  margin: 0 0 2% 0;
  font-family: 'Fascinate Inline', sans-serif;
}


li a {
  color: white;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-inverse {
  background-color: #ffce84;
  border-color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: white;
  color: #ff844c;
}

.main-display {
  margin-top: 13%;
  padding: 0 10%;
}

.welcome__text > h1 {
  font-size: 5em;
}

.pizza__img {
  margin: 5%;
  height: 300px;
}

.four-o-four {
  height: 100px;
}

.contact-form {
  font-size: .5em;
}

.form-group > .form-control {
  font-family: 'Open Sans', sans-serif;
}

.btn-one {
  background-color: #fff;
  color: #ff844c;
  margin: 1%;
}


#toppings {
  /*background-color: #fff;*/
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 5% 0;
  padding: 3%;
  text-align: left;
  font-weight: normal;
}

#toppings > label {
  margin: 0 2%;
}


@media (max-width: 600px) {
  .pizza__img {
    height: 200px;
  }
}

@media (min-width: 980px) {

}
