body {
  background: linear-gradient(#ff844c, #ff2121);
  text-align: center;
  height: 1000px;
  color: white;
  font-family: 'Fascinate Inline', sans;
  letter-spacing: 1.7px;

}

li a {
  color: white;
}

p {
  font-family: sans-serif;
}

.navbar-inverse {
  background-color: #ffce84;
}

.main-display {
  margin-top: 13%;
}

.welcome__text > h1 {
  font-size: 4em;
}

.pizza__img {
  margin: 5%;
  height: 300px;
}

.four-o-four {
  height: 100px;
}

.contact-form {
  font-size: .5em;
}

@media (max-width: 600px) {
  .pizza__img {
    height: 200px;
  }
}

@media (min-width: 980px) {

}
